#button {
  background-color: #00008B ;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
#winbutton{
  background-color: #00FFFF;
  font-size: 20px;

}
.container {

	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
  background-color: black;
  color: white;

  padding: 15px 32px;
  text-align: center;
}
h1{
  color: white;
  font-size: 100px;
}
p{
  color: white;
}
#winner{
  font-size: 70px;
  color: #7FFF00;
}
.col-12{
  text-align: center;
}
.middle{
  text-align: center;
}
.col-sm-4{
  text-align: center;
  border: solid;
}
#Number {
  font-size: 100px;
  background-color: yellow;
  padding: 10%;
  color: black;
}
