#button {
  background-color: #00008B ;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
#button:hover{ 
        background: #DE3163;
        transition: all 0.5s;
        border-radius: 10px;
        box-shadow: 0px 6px 15px #0000ff61;
        padding: 1.5rem 3rem 1.5rem 1.5rem;
		color: #ffffff;
}
#button1 {
  background-color: #00008B ;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
#button1:hover{
        background: #FFBF00;
        transition: all 0.5s;
        border-radius: 10px;
        box-shadow: 0px 6px 15px #0000ff61;
        padding: 1.5rem 3rem 1.5rem 1.5rem;
		color: #ffffff;
}
#button2 {
  background-color: #00008B ;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
#button2:hover{
        background: #00FF00;
        transition: all 0.5s;
        border-radius: 10px;
        box-shadow: 0px 6px 15px #0000ff61;
        padding: 1.5rem 3rem 1.5rem 1.5rem;
		color: #ffffff;
}
#button3 {
  background-color: #00008B ;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
#button4 {
  background-color: #00008B ;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
#button5 {
  background-color: #00008B ;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
#winbutton{
  background-color: #00008B ;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
.container {

	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
  background-color: black;
  color: white;

  padding: 15px 32px;
  text-align: center;
}
h1{
  color: white;
  font-size: 100px;
}
p{
  color: white;
}
#winner{
  font-size: 70px;
  color: #7FFF00;
}
.col-12{
  text-align: center;
}
.middle{
  text-align: center;
}
.col-sm-4{
  text-align: center;
  border: solid;
}
#Number {
  font-size: 100px;
  background-color: yellow;
  padding: 10%;
  color: black;
}
img {
  border-radius: 50%;
}
a:link, a:visited {
  background-color: #00008B;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #00008B;
}

